.nav a{
    float: left;
  display: block;
   text-align: center;
 padding-top: 50px;
 padding-left: 80px;
  text-decoration: none;
  color: blue;
 
}

.nav a:hover{
    color: green;
    font-weight: bolder;
}

.nav .nav_menu{
    padding-left: 60%;
}
/*
.home_banner{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(autofit, minmax(345px, 1fr));
}


*/
.home_banner{
    padding-top: 45px;
    display: flex;
    float: left;
   
   
    
}


.home_banner .hbannerins{
    display: inline;
}


.home_banner .hbannerins img{
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.nav_logo img{
    position: relative;
    margin-left: -240%;
    width: 120;
    height: 120;
    border-radius: 50%;
}

.home_abt{
    margin-top: 28%;
    text-align: center;
}

.home_abt p{
    font-size: 45;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: rgb(76, 62, 202);
}

.home_abt h2{
    font-size: 30;
    color: rgb(0, 87, 250);
}

.home_con1{
    margin-top: 5%;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    text-decoration: underline;
    color: green;
}

.home_cdetl{
    padding-left: 1%;
    display: flex;
    /*grid-template-columns: 1fr 1fr 1fr 1fr;*/
}

.home_cdetl .htab{
    display: inline;
    padding-left: 5%;
    width: 250px;
}

.home_cdetl .htab p{
    font-size: 25px;
    font-weight: bold;
    text-decoration: underline;
}

.home_cdetl .htab a{
    font-size: 25px;
    text-decoration: none;
    color: blue;
    padding-left: 40px;
}

.home_cdetl .htab ul{
    font-size: 20px;
 
}

.home_gallery{
    margin-top: 5%;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    text-decoration: underline;
    color: green;
}

.home_gins{
    padding-top: 2px;
    display: flex;
    float: left;
    /*grid-template-columns: 345px 345px 345px 255px;*/
}

.home_gins .hgins1{
    display: inline;
    border: 5px solid rgb(255, 255, 255);
}

.home_gins .hgins1 img{
    width: 100%;
    height: 250px;
}

.home_about{
    margin-top: 45%;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    text-decoration: underline;
    color: green; 
}

.habtins{
    margin-top: 2%;
    font-size: 25px;
    text-align: justify;
    font-family: cursive;
}

footer{
    margin-top: 5%;
    text-align: center;
}

.course_abt{
    margin-top: 5%;
    text-align: center;
}

.course_abt p{
    font-size: 45;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: rgb(76, 62, 202);
}

.course_abt h2{
    font-size: 30;
    color: rgb(0, 87, 250);
}

.course_head h1{
    text-align: center;
    margin-top: 5%;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(255, 182, 47);
    text-decoration: underline;
}

.course_shead h1{
    font-size: 30px;
    padding-left: 5%;
    background-color: antiquewhite;
    color: rgb(13, 75, 245);
}

.course_shead ul{
    padding-left: 10%;
    font-size: 20px;
}

.contact_about{
    margin-top: 8%;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    text-decoration: underline;
    color: green; 
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.contact_us h2{
    margin-top: 5%;
    text-align: center;
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: underline;
    color: green;
}

marquee{
    font-size: 50px;
    color: red;
    margin-top: 15%;
    background-color: aquamarine;
}

@media screen and (max-width: 700px){
    .home_banner{
        flex-direction: column;
    }
    .home_gins{
        flex-direction: column;
    }
    .home_cdetl{
        flex-direction: column;
    }
    
}
